/*backgroud settings*/
body {
  background: rgb(245, 245, 245);
  color: rgb(10, 10, 10);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
  position: fixed;        
  background: rgb(50, 49, 55);
  padding: 10px 0;
  z-index: 10;
  top: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn {
  padding: 10px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

#btn:hover {
  background-color: rgb(123, 120, 138);
  color: rgb(240, 240, 240);
  transition: 0.5s;
  cursor: pointer;
}
  
  /*container that has most of the app components*/
.container {
  display: block;
  margin: 5px auto 0;
  text-align: center;
  width: 75%;
  background: rgb(255, 255, 255);
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-top: 130px;
  margin-left: 17%;
  margin-right: 7px;
}
  /*Main title in the header*/
h1 {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 25px;
  padding: 0px 0 10px;
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  border-top: 1px solid rgb(33, 33, 33) ;
  border-bottom: 1px solid rgb(33, 33, 33) ;
  margin-top: -5%;
}

h3 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
h4 {
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 10px 10px 10px 10px;
  margin-left: 1%;
}

h5 {
  font-size: 16px;
}

p {
  padding-left: 100px;
  padding-right: 80px;
  line-height: 25px;
  margin-top: -2%;
}

p a {
  text-decoration: underline;
}

/*input settings when input is normal*/
input {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(94, 94, 94);
  background: #fff;
  border-radius: 2px;
  color: #888;
  width: 70%;
}
/*when users has clicked input to add some text*/
input:focus {
  color: #333;
  background-color: rgb(235, 235, 235);
}
/*inputs default text settings*/
input.placeholder {
  color: lightgray;
}

.column {
  float: left;
  position: sticky;
  width: 45%;
  background: rgb(50, 49, 55);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  padding: 15px;
  margin-left: 1%;
  margin-right: auto;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
a {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  list-style: decimal;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  color: grey;
  cursor: pointer;
}

.column li:hover{
  color: grey;
  cursor: pointer;
}

.column li {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  list-style: decimal;
  font-weight: 200;
  padding-left: 10px;
  color: #fff;
  text-decoration: none;
}

.column2 {
  position: sticky;
  width: 93%;
  background: rgb(50, 49, 55);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.sidecolumn {
  float: left;
  position: fixed;
  width: 10%;
  background: rgb(50, 49, 55);
  color: #fff;
  padding: 15px;
  left: 0;
  height: 100%;
  z-index: 11;
  top: 94px;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #27262b;
  border: 1px solid #5f5f5f;
}
::-webkit-scrollbar-thumb:hover {
  background: #5f5f5f;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #dbdbdb;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #cfcfcf;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-right: auto;
}

#searchbar {
  padding: 10px;
  left:20%;
  top:25%;
  width:50%;
}

#artists {
  margin-bottom: 300px;
}

#artists li {
  padding-bottom: 10px;
  font-size: 14px;
  list-style: decimal;
  font-weight: 600;
  padding-left: 10px;
}
#artists li:hover {
  color: #888;
  cursor: pointer;
  transition: 0.5s;
}

#artist-info{
  width: 100%;
  margin-right: 3%;
}

#artist-info a{
  color: #fff;
}

#artist-info a:hover{
  color: rgb(129, 129, 129);
}

img {
  width: 200px;
  margin-left: 30px;
  margin-bottom: 5px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


@media screen and (max-width: 1100px) {
  .column {
    width: 90%;
  }
  .column2 {
    width: 90%;
  }
  .container {
    margin-left: 30%;
    width: 60%;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 20px;
  }
  .sidecolumn {
    width: 23%;
  }
  img {
    width: 100px;
  }
}

@media screen and (max-width: 1800px) and (min-width:1100px) {
  .sidecolumn {
    width: 14%;
  }
  .container {
    margin-left: 18%;
  }
}